<h1>Edit Event</h1>
<%= render "form", event: @event %>
<br>
<div class='center-container'>
  <div class="button"><%= link_to 'Show Event', @event %></div>
  <div class="button"><%= link_to 'Back to My Events', current_user %></div>
</div>