<h2>Event List:</h2>
<% @events.each do |event| %>
  <div class="event-list">
    <div class="event-name"><%= event.name %></div>
    <div class="event-date"><%= event.date %></div>
  </div>
<% end %>