<h2>Event List:</h2>
<% @events.each do |event| %>
  <div class="event-list">
    <div class="event-name"><%= link_to event.name, event %></div>
    <div class="event-date"><%= event.date %></div>
    <% if user_signed_in? %>
      <div class="button"><%= link_to 'Attend Event', attendances_path, method: :post %></div>
    <% end %>
  </div>
<% end %>