<div class="center-container">
  <div class="event-container">
    <div class="event-name"><%= @event.name %></div>
    <div class="event-date"><%= @event.date %></div>
    <%= link_to 'Edit Event', edit_event_path, class: 'button' %>
  </div>
</div>